* {
  outline: none;
  scroll-snap-type: x mandatory;
}

html {
  overflow-y: hidden;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(148, 229, 255, 1) 11%, rgba(0, 84, 125, 0.80015756302521) 70%, rgba(187, 52, 43, 1) 100%);
  background-size: 1100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-image: url("scenebaggrund.svg");
  background-size: cover;
  background-position-y: 250%;
}

.timeline-carousel {
  position: relative;
  height: 100vh;
  margin-top: 11vh;
}

.text-wrapper h1,
h2 {
  margin-left: 10%;
}

.timeline-carousel h1 {
  font-size: 46px;
  line-height: 50px;
  font-weight: 900;
  margin-top: 0;
}

.timeline-carousel__item-wrapper {
  display: flex;
}

.timeline-carousel__item-wrapper .timeline-carousel__item {
  scroll-snap-align: start;
}

.timeline-carousel__item .media-wrapper {
  height: 75.1vh;
  -webkit-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.timeline-carousel__item-inner {
  height: 5.5vh;
  background: #0e233f;
  position: relative;
  padding-top: 45px;
  width: 100vw;
}

.timeline-carousel__item-inner:after {
  position: absolute;
  width: 100%;
  top: 45px;
  left: 0;
  content: "";
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.timeline-carousel__item-inner .dino {
  left: 10px;
  font-size: 36px;
  line-height: 36px;
  color: white;
  display: table;
  letter-spacing: -1px;
  padding-right: 10px;
  background-color: #0e233f;
  z-index: 1;
  position: relative;
  margin: -20px 0 0px;
  font-weight: 900;
}

.timeline-carousel__item-inner .year {
  font-size: 12px;
  text-transform: uppercase;
  color: #b38c52;
  display: block;
  position: relative;
  left: 10px;
  font-weight: 900;
}

/* ANNALEES CSS */
.dino-svg {
  width: 50%;
  padding-left: 50%;
  opacity: 0;
  transition: opacity 1.5s ease;
}

.dino-svg svg{padding-top: 20vh;}

.infobox {
  /* opacity: 0; */
  transition: opacity 1.5s ease;
  border: 2px solid black;
  /* position: absolute; */
  top: 0;
}

#simon_emil {
  height: 20vw;
  width: 10vw;
  position: fixed;
  bottom: 5vh;
  left: 5vw;
  transform: scale(var(--scale));
  transition: scale 2.5s ease;
}

.visible {
  opacity: 1;
}

.timeline-carousel__item {
  max-height: 100vh;
}
